<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="https://emilio-molina.github.io/cv/updated_CV.pdf.pdf">CV</a></li>
<li><a href="/publications">Publications</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:emilio.mol.mar@gmail.com">email</a></li>
   <li><a href="https://github.com/emilio-molina">github</a></li>
   <li><a href="https://twitter.com/_emilioMolina">twitter</a></li>
   <li><a href="https://scholar.google.es/citations?user=48aWy1gAAAAJ&#038;hl=es&#038;oi=sra">google scholar</a></li>
   <li><a href="https://www.researchgate.net/profile/Emilio_Molina4">researchgate</a></li>
   <li><a href="https://www.mendeley.com/profiles/emilio-molina1/">mendeley</a></li>
   <li><a href="skype:emilio.mol.mar@gmail.com?userinfo">skype</a></li>
   </ul>
  </footer>
  </body>

</html>
